body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: 0px;
  background: #1f1d17;
  /* padding: 0; */
}
a, a:visited {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #efefef
}
#mainImg {
  cursor: zoom-in;
}
#mainImg, #backup-image {
  width: 100%;
  -webkit-user-select: none;
  min-height: 110px;
}
#mainImg.musselRock {
  margin-top: -220px;
}
.main-image-zoomed #mainImg,
.main-image-zoomed #backup-image {
  width: unset;
  cursor: zoom-out;
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 20px 0;
}
.flex-item {
  position: relative;
  text-align: center;
  background-color: #302d24;
  height: 543px;
  width: 350px;
  margin-bottom: 15px;
}
.station-container {
  padding: 18px 15px 0;
}
.arrow-container {
  border: #82817f 4px solid;
  width:150px;
  height:150px;
  border-radius: 100px;
  margin: auto;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  -ms-transition: -ms-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
}
.svgArrow {
  fill: white;
  transform: rotate(90deg);
  margin-top: -18px;
}
.station-title {
  padding: 10px 0 10px;
  margin-top: 7px;
}
.station-title h2 {
  font-weight: 500;
  margin: 0;
  font-size: 20px;
}

.station-speed-gust {
  font-size: 56px;
  color: #e3e2e1;
  margin-top: -130px;
  margin-left: -5px;
}
.station-gust {
  font-size: 30px;
}
.station-temp {
  position: absolute;
  right: 25px;
}
.inner-item {
  font-size: 16px;
  margin-top: 50px;
}
.outer-bg-image {
  position: relative;
  height: 195px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 350px;
  background-position: 80% 10%;
}
.inner-bg-image {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-size: 350px;
  background-repeat: no-repeat;
  background-position: 80% 10%;
  transition: background-size .6s ease-in-out;
}

.inner-bg-image.top {
  cursor: pointer;
}
.inner-bg-image.top:hover {
  background-size: 370px;
}
.inner-item-history {
  margin-top: 47px;
  height: 82px; /* stop it from jumping on refresh */
  padding: 5px 16px 0;
}
.inner-item-history:hover, .station-title:hover {
  background-color: #1f1d17;
}
.last-updated {
  margin: 8px 10px;
  font-size: 15px;
  color: #afafaf;
}
.update-char {
  opacity: .4;
  float: right;
}
#main-img-and-message {
  position: relative;
}
.main-image-zoomed #main-img-and-message {
  overflow-x: scroll;
}
/*
#main-img-and-message.show-camera-message #mainImg,
#main-img-and-message.useBackupImage #mainImg {
  display: none;
}
#main-img-and-message.show-camera-message #backup-image,
#main-img-and-message.useBackupImage #backup-image {
  display: block;
}

#backup-image {
  display: none;
} */


#main-img-and-message:hover .title-container {
  opacity: .5;
}
.title-container {
  position: absolute;
  left: 20px;
  top: 20px;
  opacity: .6;
  font-size: 13px;
  padding: 10px 10px 10px 10px;
  background-color: black;
  opacity: 0;
  transition: 0.9s;
}
#camera-message-container {
  position: absolute;
  top: 0;
  width: 100%;
  min-width: 250px;
}
.camera-message {
  text-align: center;
  font-size: 16px;
  padding: 10px;
  color: #fff;
  margin: auto;
  width: 50%;
  background-color: #888;
  opacity: .6;
  border-radius: 8px;
  margin-top: 10px;
}

.alert-banner-outer {
  /* position: absolute; */
  /* top: 0; */
  width: 100%;
  min-width: 250px;
  text-align: center;

  padding-top: 5px;
}
.alert-banner-outer.grey .alert-banner-inner {
  color: #bbb8b8;
}
.alert-banner-inner {
  text-align: center;
  font-size: 16px;
  color: #fff;
  margin: auto;
  width: 50%;
  border-radius: 8px;
  margin-top: 10px;
  padding: 0 15px 15px;
  position: relative;
}
.red,
.danger {
  background-color: #d9534f;
}
.yellow,
.warning {
  background-color: #f0ad4e;
}
.green,
.success {
  background-color: #5cb85c;
}
.blue,
.primary {
  background-color: #5bc0de;
}
.black,
.dark {
  background-color: #1f1d17;
}
.grey {
  background-color: #302d24;
}

.error-or-no-data.outer-arrow-container {
  height: 100px;
  font-size:20px;
  line-height:30px;
  padding-top:30px;
}

/* The Modal styles */
.modal {
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px 20px 25px 20px;
  border: 2px solid #555;
  border-radius: 5px;
  width: 90%;
  background-color: #302d24;
  max-height: 80%;
  overflow: auto;
  resize: both;
  overflow-y: hidden;
}
.modal-content.iFrame {
  height: 70%;
}
.modal-content iframe {
  background-color: white;
}
.chart-content-inner {
  padding: 30px 5px 15px;
}
.highcharts-range-selector-group {
  display:none;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.close-banner {
  padding-left: 10px;
  line-height: 12px;
  color: #fff;
}
.close-banner:hover {
  color: #aaa
}
.modal-img-link>img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  max-height: 90%;
}
.modal-content-inner {
  width: 96%;
  margin: auto;
  background-image: url("../images/loaderDuck.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150px;
  min-height: 300px;
  height: 94%;
}
.modal-content-loaded .modal-content-inner {
  background-image: unset;
}
.modal-dynamic-container iFrame {
  height: 80%;
  min-width: 250px;
  width: 100%;
  resize: both;
}

.modal-dynamic-container iFrame.larger {
  zoom: 1.3;
  -moz-transform: scale(1.3);
  -moz-transform-origin: 0 0;
  -o-transform: scale(1.3);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(1.3);
  -webkit-transform-origin: 0 0;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  #scaled-frame {
    zoom: 1;
  }
}

.modal-dynamic-container {
  margin: auto;
  min-width: 250px;
  height: 92%;
  overflow: auto;
}
@media only screen and (max-height : 900px) {
  .modal-content {
    height: 600px;
  }
  .modal-dynamic-container {
    overflow-y: scroll;
  }
}


h3.modal-title {
  margin-top: 5px;
  margin-bottom: 14px;
}
.sub-header-content {
  margin-bottom: 20px
}
.close-modal-btn {
  display:inline-block;
  margin: -20px -20px 0 0;
  padding: 0 8px;
  background-blend-mode: darken;
}
.additional-content {
  text-align: left;
  padding-top: 25px;
  line-height: 25px;
}
.additional-content ul {
    list-style-type: circle;
    margin-block-start: .3em;
    margin-block-end: .5em;
    padding-inline-start: 20px;
}
.additional-content a{
  margin-left: 20px;
}
.additional-content li a{
  margin-left: 0;
}
.camera-text {
  padding-top: 7px;
}

/* small station history */
.history-small-container {
  cursor: pointer;
}

.history-small-row {
  display: flex;
  justify-content: space-between;
}
.history-small-row.time-range {
  padding-top: 3px;
}
.history-small-item {
  flex-direction: row;
  text-align: center;
}
.deemphisized-text {
  font-size: 13px;
  color: #bfbfbf;
}

/* Sidebar stuff */
.card {
  box-shadow: 0 2px 5px 0 rgba(60,60,60,0.6), 0 2px 10px 0 rgba(100,100,100,0.6);
}
.sidebar {
  height: 100%;
  width: 275px;
  right: -285px;
  position: fixed!important;
  z-index: 4;
  overflow: hidden;
  padding-bottom: 20px;
  -webkit-transition: 300ms ease;
  -moz-transition: 300ms ease;
  -o-transition: 300ms ease;
  transition: 300ms ease;
  overflow-y: auto;
  background-color: #1f1d17;
}
.show-menu .sidebar {
  right: 0;
}
.bar-block .bar-item {
    width: 100%;
    display: block;
    padding: 6px 14px 6px 40px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
}
.bar-item.top-space {
  padding-top: 25px;
}
.bar-block .bar-header {
  font-weight: 600;
  padding-left: 22px;
}
.change-location {
  width: 220px;
  text-align: right;
}
.change-location select{
  width: 100%;
  margin-top: 10px;
  padding: 3px;
  background-color: #ccc;
  font-weight: 100;
  border-radius: 7px;
}

.site-select-container {
  position: absolute;
  z-index: 1;
  left: 15px;
  top: 15px;
  background-color: rgba(0, 0, 0, .5);
  padding: 15px;
  border-radius: 5px;
}
.site-select-container:hover {
  background-color: #222;
}

.inner-content {
  position: relative;
}

.alert-banner-container {
  padding: 10px 20px;
  background-color: red;
  margin-top: -4px;
  width: 100%;
}

.format-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}
.format-button:hover {
  color: #000;
  background-color: #ccc;
}
.menu-button {
  position: absolute;
  right: 13px;
  top: 12px;
  font-size: 40px;
  cursor: pointer;
  z-index: 2;
  padding: 0 15px 6px;
  opacity: .5;
  border-radius: 100px;
  background-color: #222;
  /* background: radial-gradient(circle, #000 100%, rgba(0, 0, 0, 1.0) 10  0%); */
}
.menu-button:hover {
  opacity: 1;
}

* {
  box-sizing: border-box;
}

button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button, select {
  text-transform: none;
}
button, input {
  overflow: visible;
}
button, input, select, textarea, optgroup {
  FONT-WEIGHT: 200;
  font: inherit;
}
.close-button.format-button {
  text-align: right;
  padding-right: 20px;
  border-bottom: 2px solid #1f1d17;

}
.close-button.format-button:hover {
  color: #fff;
  background-color: #1f1d17;
  border-bottom: 2px solid #555;
}

@media only screen and (max-width : 479px) {
  .camera-message {
    font-size: 18px;
  }
  .menu-button {
    backround: unset;
  }
}
@media only screen and (min-width : 1000px) {
  .modal-content {
    width: 800px;
  }
  .site-select-container, .menu-button {
    position: fixed;
  }
}
